In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
from fastai.basics import *

In [3]:
from pathlib import Path

In [4]:
import pandas as pd

# Rossmann

## Data preparation / Feature engineering

Set `PATH` to the path `~/data/rossmann/`. Create a list of table names, with one entry for each CSV that you'll be loading: 
- train
- store
- store_states
- state_names
- googletrend
- weather
- test

For each csv, read it in using pandas (with `low_memory=False`), and assign it to a variable corresponding with its name. Print out the lengths of the `train` and `test` tables.

In [5]:
PATH = Path("~/.fastai/data/rossmann/")

In [6]:
csvs = ['train', 'store', 'store_states', 'state_names', 'googletrend', 'weather', 'test']

In [7]:
tables = [pd.read_csv(f"{PATH}/{csv}.csv", low_memory=False) for csv in csvs]

In [8]:
train, store, store_states, state_names, googletrend, weather, test = tables

Turn the `StateHoliday` column into a boolean indicating whether or not the day was a holiday.

In [9]:
train['StateHoliday'] = train['StateHoliday'] != '0'
test['StateHoliday'] = test['StateHoliday'] != '0'
train['SchoolHoliday'] = train['SchoolHoliday'] != 0
test['SchoolHoliday'] = test['SchoolHoliday'] != 0

In [10]:
train['StateHoliday'].value_counts()

False    986159
True      31050
Name: StateHoliday, dtype: int64

In [11]:
train['SchoolHoliday'].value_counts()

False    835488
True     181721
Name: SchoolHoliday, dtype: int64

Print out the head of the dataframe.

In [12]:
train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,False,True
1,2,5,2015-07-31,6064,625,1,1,False,True
2,3,5,2015-07-31,8314,821,1,1,False,True
3,4,5,2015-07-31,13995,1498,1,1,False,True
4,5,5,2015-07-31,4822,559,1,1,False,True

Create a function `join_df` that joins two dataframes together. It should take the following arguments:
- left (the df on the lft)
- right (the df on the right)
- left_on (the left table join key)
- right_on (the right table join key, defaulting to None; if nothing passed, default to the same as the left join key)
- suffix (default to '_y'; a suffix to give to duplicate columns)

In [13]:
def join_df(left, right, left_on, right_on=None, suffix='_y'):
    return left.merge(right, left_on=left_on, right_on=right_on if right_on is not None else left_on, 
                      how='left', suffixes=('', suffix))

In [14]:
import pandas as pd
df1 = pd.DataFrame({'a': [1,2], 'b': [100.0, 1000.0]})
df2 = pd.DataFrame({'a': [1,1,1,3,3,3], 'b': [10.0, 10.0, 10.0, 20.0, 20.0, 20.0]})
join_df(df1, df2, 'a')

   a       b   b_y
0  1   100.0  10.0
1  1   100.0  10.0
2  1   100.0  10.0
3  2  1000.0   NaN

Join the weather and state names tables together, and reassign them to the variable `weather`.

In [15]:
weather.head()

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Max_VisibilityKm,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,31.0,12.0,4.0,39,26,58.0,5.08,6.0,Rain,215
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,31.0,14.0,10.0,24,16,NaN,0.00,6.0,Rain,225
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,31.0,8.0,2.0,26,21,NaN,1.02,7.0,Rain,240
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,11.0,5.0,2.0,23,14,NaN,0.25,7.0,Rain,263
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,10.0,6.0,3.0,16,10,NaN,0.00,7.0,Rain,268

In [16]:
state_names

                StateName  State
0       BadenWuerttemberg     BW
1                  Bayern     BY
2                  Berlin     BE
3             Brandenburg     BB
4                  Bremen     HB
5                 Hamburg     HH
6                  Hessen     HE
7   MecklenburgVorpommern     MV
8           Niedersachsen  HB,NI
9      NordrheinWestfalen     NW
10         RheinlandPfalz     RP
11               Saarland     SL
12                Sachsen     SN
13          SachsenAnhalt     ST
14      SchleswigHolstein     SH
15             Thueringen     TH

In [17]:
weather = join_df(weather, state_names, left_on='file', right_on='StateName')

Show the first few rows of the weather df.

In [18]:
weather.head()

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees,StateName,State
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,4.0,39,26,58.0,5.08,6.0,Rain,215,NordrheinWestfalen,NW
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,10.0,24,16,NaN,0.00,6.0,Rain,225,NordrheinWestfalen,NW
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,2.0,26,21,NaN,1.02,7.0,Rain,240,NordrheinWestfalen,NW
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,2.0,23,14,NaN,0.25,7.0,Rain,263,NordrheinWestfalen,NW
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,3.0,16,10,NaN,0.00,7.0,Rain,268,NordrheinWestfalen,NW

In the `googletrend` table, set the `Date` variable to the first date in the hyphen-separated date string in the `week` field. Set the `State` field to the third element in the underscore-separated string from the `file` field. In all rows where `State == NI`, make it instead equal `HB,NI` which is how it's referred to throughout the reset of the data.

In [19]:
googletrend['Date'] = googletrend['week'].str.split(' - ', expand=True)[0]

In [20]:
googletrend['State'] = googletrend['file'].str.split('_', expand=True)[2]

In [21]:
googletrend['State'][googletrend['State'] == 'NI'] = 'HB,NI'

/home/paperspace/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [22]:
googletrend.head()

             file                     week  trend        Date State
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96  2012-12-02    SN
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95  2012-12-09    SN
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91  2012-12-16    SN
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48  2012-12-23    SN
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67  2012-12-30    SN

Write a function `add_datepart` that takes a date field and adds a bunch of numeric columns containing information about the date. It should take the following arguments:
- df (the dataframe you'll be modifying)
- fldname (the date field you'll be splitting into new columns)
- drop (whether or not to drop the old date field; defaults to True)
- time (whether or not to add time fields -- Hour, Minute, Second; defaults to False)

It should append ```
['Year', 'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear','Is_month_end', 'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start']```

Remember the edge cases around the dtype of the field. Specifically, if it's of type DatetimeTZDtype, cast it instead to np.datetime64. If it's not a subtype of datetime64 already, infer it (see `pd.to_datetime`).

In [23]:
type(np.datetime64)

type

In [24]:
Series(np.array([1,2,3], dtype='int64')).dtype

dtype('int64')

In [25]:
ex_date = pd.to_datetime('2019-01-01')

In [26]:
ex_date

Timestamp('2019-01-01 00:00:00')

In [27]:
ex_date

Timestamp('2019-01-01 00:00:00')

In [28]:
def add_datepart(df, fldname, drop=True, time=False):
    fld = df[fldname]
    
    if fld.dtype == pd.DatetimeTZDtype:
        fld = fld.astype(np.datetime64)
        
    if not np.issubdtype(fld.dtype, np.datetime64):
        fld = pd.to_datetime(fld)
        
    fields = [
        'Year', 'Month', 'Week', 
        'Day', 'Dayofweek', 'Dayofyear',
        'Is_month_end', 'Is_month_start', 'Is_quarter_end', 
        'Is_quarter_start', 'Is_year_end', 'Is_year_start'
    ]
    
    for i in fields:
        df[i] = getattr(fld.dt, i.lower())
        
    if drop:
        df.drop(fldname, inplace=True)
    
    return df

In [29]:
googletrend = add_datepart(googletrend, 'Date', False)

Use `add_datepart` to add date fields to the weather, googletrend, train and test tables.

In [30]:
weather.head()

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees,StateName,State
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,4.0,39,26,58.0,5.08,6.0,Rain,215,NordrheinWestfalen,NW
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,10.0,24,16,NaN,0.00,6.0,Rain,225,NordrheinWestfalen,NW
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,2.0,26,21,NaN,1.02,7.0,Rain,240,NordrheinWestfalen,NW
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,2.0,23,14,NaN,0.25,7.0,Rain,263,NordrheinWestfalen,NW
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,3.0,16,10,NaN,0.00,7.0,Rain,268,NordrheinWestfalen,NW

In [31]:
weather = add_datepart(weather, 'Date', False)

In [32]:
train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,False,True
1,2,5,2015-07-31,6064,625,1,1,False,True
2,3,5,2015-07-31,8314,821,1,1,False,True
3,4,5,2015-07-31,13995,1498,1,1,False,True
4,5,5,2015-07-31,4822,559,1,1,False,True

In [33]:
train = add_datepart(train, 'Date', False)

In [34]:
test = add_datepart(test, 'Date', False)

Print out the head of the weather table.

In [35]:
weather.head()

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Week,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,1,1,1,1,False,True,False,True,False,True
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,1,2,2,2,False,False,False,False,False,False
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,1,3,3,3,False,False,False,False,False,False
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,1,4,4,4,False,False,False,False,False,False
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,1,5,5,5,False,False,False,False,False,False

In the `googletrend` table, the `file` column has an entry `Rossmann_DE` that represents the whole of germany; we'll want to break that out into its own separate table, since we'll need to join it on `Date` alone rather than both `Date` and `Store`.

In [36]:
googletrend

,file,week,trend,Date,State,Year,Month,Week,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start
0,Rossmann_DE_SN,2012-12-02 - 2012-12-08,96,2012-12-02,SN,2012,12,48,2,6,337,False,False,False,False,False,False
1,Rossmann_DE_SN,2012-12-09 - 2012-12-15,95,2012-12-09,SN,2012,12,49,9,6,344,False,False,False,False,False,False
2,Rossmann_DE_SN,2012-12-16 - 2012-12-22,91,2012-12-16,SN,2012,12,50,16,6,351,False,False,False,False,False,False
3,Rossmann_DE_SN,2012-12-23 - 2012-12-29,48,2012-12-23,SN,2012,12,51,23,6,358,False,False,False,False,False,False
4,Rossmann_DE_SN,2012-12-30 - 2013-01-05,67,2012-12-30,SN,2012,12,52,30,6,365,False,False,False,False,False,False
5,Rossmann_DE_SN,2013-01-06 - 2013-01-12,71,2013-01-06,SN,2013,1,1,6,6,6,False,False,False,False,False,False
6,Rossmann_DE_SN,2013-01-13 - 2013-01-19,53,2013-01-13,SN,2013,1,2,13,6,13,False,False,False,False,False,False
7,Rossmann_DE_SN,2013-01-20 - 2013-01-26,58,2013-01-20,SN,2013,1,3,20,6,20,False,False,False,False,False,False
8,Rossmann_DE_SN,2013-01-27 - 2013-02-02,55,2013-01-27,SN,2013,1,4,27,6,27,False,False,False,False,False,False
9,Rossmann_DE_SN,2013-02-03 - 2013-02-09,55,2013-02-03,SN,2013,2,5,3,6,34,False,False,False,False,False,False
10,Rossmann_DE_SN,2013-02-10 - 2013-02-16,58,2013-02-10,SN,2013,2,6,10,6,41,False,False,False,False,False,False
11,Rossmann_DE_SN,2013-02-17 - 2013-02-23,65,2013-02-17,SN,2013,2,7,17,6,48,False,False,False,False,False,False
12,Rossmann_DE_SN,2013-02-24 - 2013-03-02,48,2013-02-24,SN,2013,2,8,24,6,55,False,False,False,False,False,False
13,Rossmann_DE_SN,2013-03-03 - 2013-03-09,51,2013-03-03,SN,2013,3,9,3,6,62,False,False,False,False,False,False
14,Rossmann_DE_SN,2013-03-10 - 2013-03-16,50,2013-03-10,SN,2013,3,10,10,6,69,False,False,False,False,False,False
15,Rossmann_DE_SN,2013-03-17 - 2013-03-23,58,2013-03-17,SN,2013,3,11,17,6,76,False,False,False,False,False,False
16,Rossmann_DE_SN,2013-03-24 - 2013-03-30,54,2013-03-24,SN,2013,3,12,24,6,83,False,False,False,False,False,False
17,Rossmann_DE_SN,2013-03-31 - 2013-04-06,55,2013-03-31,SN,2013,3,13,31,6,90,True,False,True,False,False,False
18,Rossmann_DE_SN,2013-04-07 - 2013-04-13,64,2013-04-07,SN,2013,4,14,7,6,97,False,False,False,False,False,False
19,Rossmann_DE_SN,2013-04-14 - 2013-04-20,47,2013-04-14,SN,2013,4,15,14,6,104,False,False,False,False,False,False
20,Rossmann_DE_SN,2013-04-21 - 2013-04-27,51,2013-04-21,SN,2013,4,16,21,6,111,False,False,False,False,False,False
21,Rossmann_DE_SN,2013-04-28 - 2013-05-04,47,2013-04-28,SN,2013,4,17,28,6,118,False,False,False,False,False,False
22,Rossmann_DE_SN,2013-05-05 - 2013-05-11,57,2013-05-05,SN,2013,5,18,5,6,125,False,False,False,False,False,False
23,Rossmann_DE_SN,2013-05-12 - 2013-05-18,64,2013-05-12,SN,2013,5,19,12,6,132,False,False,False,False,False,False
24,Rossmann_DE_SN,2013-05-19 - 2013-05-25,54,2013-05-19,SN,2013,5,20,19,6,139,False,False,False,False,False,False
25,Rossmann_DE_SN,2013-05-26 - 2013-06-01,67,2013-05-26,SN,2013,5,21,26,6,146,False,False,False,False,False,False
26,Rossmann_DE_SN,2013-06-02 - 2013-06-08,45,2013-06-02,SN,2013,6,22,2,6,153,False,False,False,False,False,False
27,Rossmann_DE_SN,2013-06-09 - 2013-06-15,55,2013-06-09,SN,2013,6,23,9,6,160,False,False,False,False,False,False
28,Rossmann_DE_SN,2013-06-16 - 2013-06-22,67,2013-06-16,SN,2013,6,24,16,6,167,False,False,False,False,False,False
29,Rossmann_DE_SN,2013-06-23 - 2013-06-29,56,2013-06-23,SN,2013,6,25,23,6,174,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2042,Rossmann_DE_SL,2015-03-08 - 2015-03-14,60,2015-03-08,SL,2015,3,10,8,6,67,False,False,False,False,False,False
2043,Rossmann_DE_SL,2015-03-15 - 2015-03-21,61,2015-03-15,SL,2015,3,11,15,6,74,False,False,False,False,False,False
2044,Rossmann_DE_SL,2015-03-22 - 2015-03-28,80,2015-03-22,SL,2015,3,12,22,6,81,False,False,False,False,False,False
2045,Rossmann_DE_SL,2015-03-29 - 2015-04-04,61,2015-03-29,SL,2015,3,13,29,6,88,False,False,False,False,False,False
2046,Rossmann_DE_SL,2015-04-05 - 2015-04-11,67,2015-04-05,SL,2015,4,14,5,6,95,False,False,False,False,False,False
2047,Rossmann_DE_SL,2015-04-12 - 2015-04-18,58,2015-04-12,SL,2015,4,15,12,6,102,False,False,False,False,False,False
2048,Rossmann_DE_SL,2015-04-19 - 2015-04-25,67,2015-04-19,SL,2015,4,16,19,6,109,False,False,False,False,False,False
2049,Rossmann_DE_SL,2015-04-26 - 2015-05-02,86,2015-04-26,SL,2015,4,17,26,6,116,False,False,False,False,False,False
2050,Rossmann_DE_SL,2015-05-03 - 2015-05-09,70,2015-05-03,SL,2015,5,18,3,6,123,False,False,False,False,False,False
2051,Rossmann_DE_SL,2015-05-10 - 2015-05-16,77,2015-05-10,SL,2015,5,19,10,6,130,False,False,False,False,False,False
2052,Rossmann_DE_SL,2015-05-17 - 2015-05-23,77,2015-05-17,SL,2015,5,20,17,6,137,False,False,False,False,False,False
2053,Rossmann_DE_SL,2015-05-24 - 2015-05-30,78,2015-05-24,SL,2015,5,21,24,6,144,False,False,False,False,False,False
2054,Rossmann_DE_SL,2015-05-31 - 2015-06-06,95,2015-05-31,SL,2015,5,22,31,6,151,True,False,False,False,False,False
2055,Rossmann_DE_SL,2015-06-07 - 2015-06-13,90,2015-06-07,SL,2015,6,23,7,6,158,False,False,False,False,False,False
2056,Rossmann_DE_SL,2015-06-14 - 2015-06-20,100,2015-06-14,SL,2015,6,24,14,6,165,False,False,False,False,False,False
2057,Rossmann_DE_SL,2015-06-21 - 2015-06-27,70,2015-06-21,SL,2015,6,25,21,6,172,False,False,False,False,False,False
2058,Rossmann_DE_SL,2015-06-28 - 2015-07-04,83,2015-06-28,SL,2015,6,26,28,6,179,False,False,False,False,False,False
2059,Rossmann_DE_SL,2015-07-05 - 2015-07-11,53,2015-07-05,SL,2015,7,27,5,6,186,False,False,False,False,False,False
2060,Rossmann_DE_SL,2015-07-12 - 2015-07-18,53,2015-07-12,SL,2015,7,28,12,6,193,False,False,False,False,False,False
2061,Rossmann_DE_SL,2015-07-19 - 2015-07-25,50,2015-07-19,SL,2015,7,29,19,6,200,False,False,False,False,False,False
2062,Rossmann_DE_SL,2015-07-26 - 2015-08-01,69,2015-07-26,SL,2015,7,30,26,6,207,False,False,False,False,False,False
2063,Rossmann_DE_SL,2015-08-02 - 2015-08-08,88,2015-08-02,SL,2015,8,31,2,6,214,False,False,False,False,False,False
2064,Rossmann_DE_SL,2015-08-09 - 2015-08-15,68,2015-08-09,SL,2015,8,32,9,6,221,False,False,False,False,False,False
2065,Rossmann_DE_SL,2015-08-16 - 2015-08-22,81,2015-08-16,SL,2015,8,33,16,6,228,False,False,False,False,False,False
2066,Rossmann_DE_SL,2015-08-23 - 2015-08-29,48,2015-08-23,SL,2015,8,34,23,6,235,False,False,False,False,False,False
2067,Rossmann_DE_SL,2015-08-30 - 2015-09-05,95,2015-08-30,SL,2015,8,35,30,6,242,False,False,False,False,False,False
2068,Rossmann_DE_SL,2015-09-06 - 2015-09-12,47,2015-09-06,SL,2015,9,36,6,6,249,False,False,False,False,False,False
2069,Rossmann_DE_SL,2015-09-13 - 2015-09-19,80,2015-09-13,SL,2015,9,37,13,6,256,False,False,False,False,False,False
2070,Rossmann_DE_SL,2015-09-20 - 2015-09-26,57,2015-09-20,SL,2015,9,38,20,6,263,False,False,False,False,False,False
2071,Rossmann_DE_SL,2015-09-27 - 2015-10-03,0,2015-09-27,SL,2015,9,39,27,6,270,False,False,False,False,False,False

In [37]:
rossmann_full = googletrend[googletrend['file'] == 'Rossmann_DE']

Now let's do a bunch of joins to build our entire dataset! Remember after each one to check if the right-side data is null. This is the benefit of left-joining; it's easy to debug by checking for null rows. Let's start by joining `store` and `store_states` in a new table called `store`.

In [38]:
store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [39]:
store_states.head()

   Store State
0      1    HE
1      2    TH
2      3    NW
3      4    BE
4      5    SN

In [40]:
store = join_df(store, store_states, 'Store')

In [41]:
store

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,State
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,HE
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",TH
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",NW
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN,BE
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN,SN
5,6,a,a,310.0,12.0,2013.0,0,NaN,NaN,NaN,SN
6,7,a,c,24000.0,4.0,2013.0,0,NaN,NaN,NaN,SH
7,8,a,a,7520.0,10.0,2014.0,0,NaN,NaN,NaN,SH
8,9,a,c,2030.0,8.0,2000.0,0,NaN,NaN,NaN,NW
9,10,a,a,3160.0,9.0,2009.0,0,NaN,NaN,NaN,"HB,NI"
10,11,a,c,960.0,11.0,2011.0,1,1.0,2012.0,"Jan,Apr,Jul,Oct",SH
11,12,a,c,1070.0,NaN,NaN,1,13.0,2010.0,"Jan,Apr,Jul,Oct",SH
12,13,d,a,310.0,NaN,NaN,1,45.0,2009.0,"Feb,May,Aug,Nov",BY
13,14,a,a,1300.0,3.0,2014.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct",NW
14,15,d,c,4110.0,3.0,2010.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",SH
15,16,a,c,3270.0,NaN,NaN,0,NaN,NaN,NaN,BW
16,17,a,a,50.0,12.0,2005.0,1,26.0,2010.0,"Jan,Apr,Jul,Oct",TH
17,18,d,c,13840.0,6.0,2010.0,1,14.0,2012.0,"Jan,Apr,Jul,Oct",TH
18,19,a,c,3240.0,NaN,NaN,1,22.0,2011.0,"Mar,Jun,Sept,Dec",NW
19,20,d,a,2340.0,5.0,2009.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct",BY
20,21,c,c,550.0,10.0,1999.0,1,45.0,2009.0,"Jan,Apr,Jul,Oct",BW
21,22,a,a,1040.0,NaN,NaN,1,22.0,2012.0,"Jan,Apr,Jul,Oct",BY
22,23,d,a,4060.0,8.0,2005.0,0,NaN,NaN,NaN,RP
23,24,a,c,4590.0,3.0,2000.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct",NW
24,25,c,a,430.0,4.0,2003.0,0,NaN,NaN,NaN,NW
25,26,d,a,2300.0,NaN,NaN,0,NaN,NaN,NaN,TH
26,27,a,a,60.0,1.0,2005.0,1,5.0,2011.0,"Jan,Apr,Jul,Oct",NW
27,28,a,a,1200.0,10.0,2014.0,1,6.0,2015.0,"Mar,Jun,Sept,Dec",ST
28,29,d,c,2170.0,NaN,NaN,0,NaN,NaN,NaN,NW
29,30,a,a,40.0,2.0,2014.0,1,10.0,2014.0,"Mar,Jun,Sept,Dec",NW
...,...,...,...,...,...,...,...,...,...,...,...
1085,1086,a,a,180.0,11.0,2013.0,1,18.0,2011.0,"Feb,May,Aug,Nov",HE
1086,1087,d,c,2210.0,11.0,2011.0,0,NaN,NaN,NaN,"HB,NI"
1087,1088,a,a,4300.0,3.0,2009.0,1,27.0,2013.0,"Jan,Apr,Jul,Oct",NW
1088,1089,d,a,5220.0,5.0,2009.0,0,NaN,NaN,NaN,NW
1089,1090,a,a,330.0,NaN,NaN,1,14.0,2011.0,"Jan,Apr,Jul,Oct",SN
1090,1091,a,c,9990.0,NaN,NaN,0,NaN,NaN,NaN,SH
1091,1092,a,a,300.0,7.0,2000.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct",BY
1092,1093,c,c,10450.0,6.0,2009.0,0,NaN,NaN,NaN,SN
1093,1094,d,a,2380.0,3.0,2013.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct",BY
1094,1095,a,a,690.0,6.0,2007.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",TH
1095,1096,a,c,1130.0,NaN,NaN,1,10.0,2014.0,"Mar,Jun,Sept,Dec",NW
1096,1097,b,b,720.0,3.0,2002.0,0,NaN,NaN,NaN,RP
1097,1098,a,a,1830.0,11.0,2004.0,0,NaN,NaN,NaN,SN
1098,1099,a,c,200.0,4.0,2013.0,1,14.0,2013.0,"Jan,Apr,Jul,Oct",SH
1099,1100,a,a,540.0,NaN,NaN,1,14.0,2011.0,"Jan,Apr,Jul,Oct",NW
1100,1101,d,c,4060.0,9.0,2012.0,0,NaN,NaN,NaN,SH
1101,1102,a,a,850.0,11.0,2012.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct",BY
1102,1103,d,c,1340.0,10.0,2006.0,1,5.0,2013.0,"Feb,May,Aug,Nov",HE
1103,1104,d,a,260.0,2.0,2012.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",BY
1104,1105,c,c,330.0,11.0,2008.0,1,5.0,2013.0,"Feb,May,Aug,Nov",NW
1105,1106,a,c,5330.0,9.0,2011.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct",SH
1106,1107,a,a,1400.0,6.0,2012.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",BY
1107,1108,a,a,540.0,4.0,2004.0,0,NaN,NaN,NaN,SN
1108,1109,c,a,3490.0,4.0,2011.0,1,22.0,2012.0,"Jan,Apr,Jul,Oct",BY
1109,1110,c,c,900.0,9.0,2010.0,0,NaN,NaN,NaN,BE
1110,1111,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct",NW
1111,1112,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN,NW
1112,1113,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN,SH
1113,1114,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN,HH
1114,1115,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",HE

In [42]:
store['State'].isna().sum()

0

Next let's join `train` and `store` in a table called `joined`. Do the same for `test` and `store` in a table called `joined_test`.

In [43]:
joined = join_df(train, store, 'Store')

In [44]:
joined.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,...,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,State
0,1,5,2015-07-31,5263,555,1,1,False,True,2015,...,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,HE
1,2,5,2015-07-31,6064,625,1,1,False,True,2015,...,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",TH
2,3,5,2015-07-31,8314,821,1,1,False,True,2015,...,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",NW
3,4,5,2015-07-31,13995,1498,1,1,False,True,2015,...,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN,BE
4,5,5,2015-07-31,4822,559,1,1,False,True,2015,...,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN,SN

In [45]:
joined_test = join_df(test, store, 'Store')

In [46]:
joined_test.head()

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday,Year,Month,...,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,State
0,1,1,4,2015-09-17,1.0,1,False,False,2015,9,...,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,HE
1,2,3,4,2015-09-17,1.0,1,False,False,2015,9,...,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",NW
2,3,7,4,2015-09-17,1.0,1,False,False,2015,9,...,a,c,24000.0,4.0,2013.0,0,NaN,NaN,NaN,SH
3,4,8,4,2015-09-17,1.0,1,False,False,2015,9,...,a,a,7520.0,10.0,2014.0,0,NaN,NaN,NaN,SH
4,5,9,4,2015-09-17,1.0,1,False,False,2015,9,...,a,c,2030.0,8.0,2000.0,0,NaN,NaN,NaN,NW

Next join `joined` and `googletrend` on the columns `["State", "Year", "Week"]`. Again, do the same for the test data.

In [47]:
joined = join_df(joined, googletrend, ["State", "Year", "Week"], suffix='_g')
joined_test = join_df(joined_test, googletrend, ["State", "Year", "Week"], suffix='_g')

Join `joined` and `trend_de` on `["Year", "Week"]` with suffix `_DE`. Same for test.

In [48]:
joined = join_df(joined, rossmann_full, 'Date', suffix='_rf')

In [49]:
joined_test = join_df(joined_test, rossmann_full, 'Date', suffix='_rf')

Join `joined` and `weather` on `["State", "Date"]`. Same for test.

In [50]:
weather.head()

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Week,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,1,1,1,1,False,True,False,True,False,True
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,1,2,2,2,False,False,False,False,False,False
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,1,3,3,3,False,False,False,False,False,False
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,1,4,4,4,False,False,False,False,False,False
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,1,5,5,5,False,False,False,False,False,False

In [51]:
joined = join_df(joined, weather, ["State", "Date"])
joined_test = join_df(joined_test, weather, ["State", "Date"])

In [52]:
joined.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'Year', 'Month', 'Week', 'Day',
       'Dayofweek', 'Dayofyear', 'Is_month_end', 'Is_month_start',
       'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start',
       'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval', 'State', 'file',
       'week', 'trend', 'Date_g', 'Month_g', 'Day_g', 'Dayofweek_g',
       'Dayofyear_g', 'Is_month_end_g', 'Is_month_start_g', 'Is_quarter_end_g',
       'Is_quarter_start_g', 'Is_year_end_g', 'Is_year_start_g', 'file_rf',
       'week_rf', 'trend_rf', 'State_rf', 'Year_rf', 'Month_rf', 'Week_rf',
       'Day_rf', 'Dayofweek_rf', 'Dayofyear_rf', 'Is_month_end_rf',
       'Is_month_start_rf', 'Is_quarter_end_rf', 'Is_quarter_start_rf',
       'Is_year_end_rf', 'Is_year_start_rf', 'file_y', 'Max_TemperatureC',
       'Mean_TemperatureC', 'Min_TemperatureC', 'Dew_PointC', 'MeanDew_PointC',
       'Min_DewpointC', 'Max_Humidity', 'Mean_Humidity', 'Min_Humidity',
       'Max_Sea_Level_PressurehPa', 'Mean_Sea_Level_PressurehPa',
       'Min_Sea_Level_PressurehPa', 'Max_VisibilityKm', 'Mean_VisibilityKm',
       'Min_VisibilitykM', 'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h',
       'Max_Gust_SpeedKm_h', 'Precipitationmm', 'CloudCover', 'Events',
       'WindDirDegrees', 'StateName', 'Year_y', 'Month_y', 'Week_y', 'Day_y',
       'Dayofweek_y', 'Dayofyear_y', 'Is_month_end_y', 'Is_month_start_y',
       'Is_quarter_end_y', 'Is_quarter_start_y', 'Is_year_end_y',
       'Is_year_start_y'],
      dtype='object')

In [53]:
joined['Min_DewpointC'].head()

0    3
1    3
2    4
3    4
4    5
Name: Min_DewpointC, dtype: int64

Now for every column in both `joined` and `joined_test`, check to see if it has the `_y` suffix, and if so, drop it. Warning: a data frame can have duplicate column names, but calling `df.drop` will drop _all_ instances with the passed-in column name! This could lead to calling drop a second time on a column that no longer exists!

In [54]:
for i in (joined, joined_test):
    for j in i.columns:
        if j in i.columns and ('_y' in j or '_g' in j or '_rf' in j): i.drop(j, axis=1, inplace=True)

In [55]:
joined.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'Year', 'Month', 'Week', 'Day',
       'Dayofweek', 'Dayofyear', 'Is_month_end', 'Is_month_start',
       'Is_quarter_end', 'Is_quarter_start', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval', 'State', 'file', 'week', 'trend',
       'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC',
       'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC', 'Max_Humidity',
       'Mean_Humidity', 'Min_Humidity', 'Max_Sea_Level_PressurehPa',
       'Mean_Sea_Level_PressurehPa', 'Min_Sea_Level_PressurehPa',
       'Max_VisibilityKm', 'Mean_VisibilityKm', 'Min_VisibilitykM',
       'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h', 'Max_Gust_SpeedKm_h',
       'Precipitationmm', 'CloudCover', 'Events', 'WindDirDegrees',
       'StateName'],
      dtype='object')

In [56]:
joined_test.columns

Index(['Id', 'Store', 'DayOfWeek', 'Date', 'Open', 'Promo', 'StateHoliday',
       'SchoolHoliday', 'Year', 'Month', 'Week', 'Day', 'Dayofweek',
       'Dayofyear', 'Is_month_end', 'Is_month_start', 'Is_quarter_end',
       'Is_quarter_start', 'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval', 'State', 'file',
       'week', 'trend', 'Max_TemperatureC', 'Mean_TemperatureC',
       'Min_TemperatureC', 'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC',
       'Max_Humidity', 'Mean_Humidity', 'Min_Humidity',
       'Max_Sea_Level_PressurehPa', 'Mean_Sea_Level_PressurehPa',
       'Min_Sea_Level_PressurehPa', 'Max_VisibilityKm', 'Mean_VisibilityKm',
       'Min_VisibilitykM', 'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h',
       'Max_Gust_SpeedKm_h', 'Precipitationmm', 'CloudCover', 'Events',
       'WindDirDegrees', 'StateName'],
      dtype='object')

In [57]:
len(joined.columns)

55

In [58]:
len(joined_test.columns)

54

For the columns `CompetitionOpenSinceYear`, `CompetitionOpenSinceMonth`, `Promo2SinceYear`, and `Promo2SinceMonth`, replace `NA` values with the following values (respectively):
- 1900
- 1
- 1900
- 1

In [59]:
for i in (joined, joined_test):
    i.loc[i['CompetitionOpenSinceYear'].isna(), 'CompetitionOpenSinceYear'] = 1900
    i.loc[i['CompetitionOpenSinceMonth'].isna(), 'CompetitionOpenSinceMonth'] = 1
    i.loc[i['Promo2SinceYear'].isna(), 'Promo2SinceYear'] = 1900
    i.loc[i['Promo2SinceWeek'].isna(), 'Promo2SinceWeek'] = 1

In [60]:
joined.head()['Promo2SinceYear']

0    1900.0
1    2010.0
2    2011.0
3    1900.0
4    1900.0
Name: Promo2SinceYear, dtype: float64

Create a new field `CompetitionOpenSince` that converts `CompetitionOpenSinceYear` and `CompetitionOpenSinceMonth` and maps them to a specific date. Then create a new field `CompetitionDaysOpen` that subtracts `CompetitionOpenSince` from `Date`.

In [61]:
pd.to_datetime({'year': [2019], 'month': [1], 'day': [1]})

0   2019-01-01
dtype: datetime64[ns]

In [62]:
joined['Date'].dtype

dtype('O')

In [63]:
import datetime
for i in (joined, joined_test):
    i['CompetitionOpenSince'] = pd.to_datetime({'year': i['CompetitionOpenSinceYear'], 
                                                'month': i['CompetitionOpenSinceMonth'],
                                                'day': 15})
    i['CompetitionDaysOpen'] = (pd.to_datetime(i['Date']) - i['CompetitionOpenSince']) / datetime.timedelta(days=1)

In [64]:
joined[['CompetitionOpenSince', 'CompetitionDaysOpen']].head()

  CompetitionOpenSince  CompetitionDaysOpen
0           2008-09-15               2510.0
1           2007-11-15               2815.0
2           2006-12-15               3150.0
3           2009-09-15               2145.0
4           2015-04-15                107.0

For `CompetitionDaysOpen`, replace values where `CompetitionDaysOpen < 0` with 0, and cases where `CompetitionOpenSinceYear < 1990` with 0.

In [65]:
joined['CompetitionOpenSinceYear'].dtype, joined['CompetitionDaysOpen'].dtype

(dtype('float64'), dtype('float64'))

In [66]:
for i in (joined, joined_test):
    i['CompetitionDaysOpen'][i['CompetitionDaysOpen'] < 0] = 0
    i['CompetitionOpenSinceYear'][i['CompetitionOpenSinceYear'] < 1990] = 1990

/home/paperspace/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/paperspace/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [67]:
joined[['CompetitionDaysOpen', 'CompetitionOpenSinceYear']]

         CompetitionDaysOpen  CompetitionOpenSinceYear
0                     2510.0                    2008.0
1                     2815.0                    2007.0
2                     3150.0                    2006.0
3                     2145.0                    2009.0
4                      107.0                    2015.0
5                      593.0                    2013.0
6                      837.0                    2013.0
7                      289.0                    2014.0
8                     5463.0                    2000.0
9                     2145.0                    2009.0
10                    1354.0                    2011.0
11                   42200.0                    1990.0
12                   42200.0                    1990.0
13                     503.0                    2014.0
14                    1964.0                    2010.0
15                   42200.0                    1990.0
16                    3515.0                    2005.0
17                    1872.0                    2010.0
18                   42200.0                    1990.0
19                    2268.0                    2009.0
20                    5768.0                    1999.0
21                   42200.0                    1990.0
22                    3637.0                    2005.0
23                    5616.0                    2000.0
24                    4490.0                    2003.0
25                   42200.0                    1990.0
26                    3849.0                    2005.0
27                     289.0                    2014.0
28                   42200.0                    1990.0
29                     531.0                    2014.0
...                      ...                       ...
1017179                  0.0                    2013.0
1017180                413.0                    2011.0
1017181               1388.0                    2009.0
1017182               1327.0                    2009.0
1017183              41259.0                    1990.0
1017184              41259.0                    1990.0
1017185               4553.0                    2000.0
1017186               1296.0                    2009.0
1017187                  0.0                    2013.0
1017188               2027.0                    2007.0
1017189              41259.0                    1990.0
1017190               3945.0                    2002.0
1017191               2969.0                    2004.0
1017192                  0.0                    2013.0
1017193              41259.0                    1990.0
1017194                108.0                    2012.0
1017195                 47.0                    2012.0
1017196               2270.0                    2006.0
1017197                321.0                    2012.0
1017198               1508.0                    2008.0
1017199                474.0                    2011.0
1017200                200.0                    2012.0
1017201               3183.0                    2004.0
1017202                627.0                    2011.0
1017203                839.0                    2010.0
1017204                  0.0                    2014.0
1017205               2453.0                    2006.0
1017206              41259.0                    1990.0
1017207              41259.0                    1990.0
1017208              41259.0                    1990.0

[1017209 rows x 2 columns]

We add "CompetitionMonthsOpen" field, limiting the maximum to 2 years to limit number of unique categories.

In [68]:
for i in (joined, joined_test):
    i['CompetitionMonthsOpen'] = i['CompetitionDaysOpen'] // 30
    i['CompetitionMonthsOpen'] = i.apply(lambda x: 24 if x['CompetitionMonthsOpen'] > 24 else x['CompetitionMonthsOpen'], axis=1)

In [69]:
joined['CompetitionMonthsOpen'].value_counts()

24.0    790886
0.0      92590
6.0       6356
7.0       6350
4.0       6278
5.0       6261
8.0       6203
9.0       6138
10.0      6118
11.0      5971
12.0      5867
3.0       5850
13.0      5724
15.0      5699
14.0      5655
19.0      5649
2.0       5621
18.0      5619
16.0      5618
22.0      5558
17.0      5549
20.0      5500
1.0       5482
21.0      5398
23.0      5269
Name: CompetitionMonthsOpen, dtype: int64

Same process for Promo dates. You may need to install the `isoweek` package first.

In [70]:
# If needed, uncomment:
# ! pip install isoweek

Use the `isoweek` package to turn `Promo2Since` to a specific date -- the Monday of the week specified in the column. Compute a field `Promo2SinceDays` that subtracts the current date from the `Promo2Since` date.

In [71]:
joined['Date'].dtype

dtype('O')

In [72]:
from isoweek import Week
for i in (joined, joined_test):
    i['Promo2Since'] = i.apply(lambda x: Week(int(x['Promo2SinceYear']), int(x['Promo2SinceWeek'])).monday(), axis=1)
    i['Promo2Since'] = pd.to_datetime(i['Promo2Since'])
    i['Promo2Days'] = (pd.to_datetime(i['Date']) - i['Promo2Since']) / datetime.timedelta(days=1)
    i['Promo2Weeks'] = i['Promo2Days'] // 7

In [73]:
joined['Promo2Since'].head(25)

0    1900-01-01
1    2010-03-29
2    2011-04-04
3    1900-01-01
4    1900-01-01
5    1900-01-01
6    1900-01-01
7    1900-01-01
8    1900-01-01
9    1900-01-01
10   2012-01-02
11   2010-03-29
12   2009-11-02
13   2011-10-03
14   2011-04-04
15   1900-01-01
16   2010-06-28
17   2012-04-02
18   2011-05-30
19   2014-09-29
20   2009-11-02
21   2012-05-28
22   1900-01-01
23   2011-10-03
24   1900-01-01
Name: Promo2Since, dtype: datetime64[ns]

In [74]:
joined.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'Year', 'Month', 'Week', 'Day',
       'Dayofweek', 'Dayofyear', 'Is_month_end', 'Is_month_start',
       'Is_quarter_end', 'Is_quarter_start', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval', 'State', 'file', 'week', 'trend',
       'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC',
       'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC', 'Max_Humidity',
       'Mean_Humidity', 'Min_Humidity', 'Max_Sea_Level_PressurehPa',
       'Mean_Sea_Level_PressurehPa', 'Min_Sea_Level_PressurehPa',
       'Max_VisibilityKm', 'Mean_VisibilityKm', 'Min_VisibilitykM',
       'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h', 'Max_Gust_SpeedKm_h',
       'Precipitationmm', 'CloudCover', 'Events', 'WindDirDegrees',
       'StateName', 'CompetitionOpenSince', 'CompetitionDaysOpen',
       'CompetitionMonthsOpen', 'Promo2Since', 'Promo2Days', 'Promo2Weeks'],
      dtype='object')

Perform the following modifications on both the train and test set:
- For cases where `Promo2Days` is negative or `Promo2SinceYear` is before 1990, set `Promo2Days` to 0
- Create `Promo2Weeks
- For cases where `Promo2Weeks` is negative, set `Promo2Weeks` to 0
- For cases where `Promo2Weeks` is above 25, set `Promo2Weeks` to 25

Print the number of unique values for `Promo2Weeks` in training and test df's.

In [75]:
for i in (joined, joined_test):
    i['Promo2Days'][i['Promo2Days'] < 0] = 0
    i['Promo2Days'][i['Promo2SinceYear'] < 1990] = 0
    i['Promo2Weeks'][i['Promo2Weeks'] < 0] = 0 
    i['Promo2Weeks'][i['Promo2Weeks'] > 25] = 25

/home/paperspace/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/paperspace/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/paperspace/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/home/paperspace/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [76]:
len(joined['Promo2Weeks'].unique())

26

Pickle `joined` to `PATH/'joined'` and `joined_test` to `PATH/'joined_test'`.

In [77]:
joined.to_pickle(PATH/'joined')

In [78]:
joined_test.to_pickle(PATH/'joined_test')

## Durations

Write a function `get_elapsed` that takes arguments `fld` (a boolean field) and `pre` (a prefix to be appended to `fld` in a new column representing the days until/since the event in `fld`), and adds a column `pre+fld` representing the date-diff (in days) between the current date and the last date `fld` was true.

In [100]:
joined = pd.read_pickle(PATH/'joined')
joined_test = pd.read_pickle(PATH/'joined_test')

In [101]:
joined['Date'] = pd.to_datetime(joined['Date'])

In [102]:
joined_test['Date'] = pd.to_datetime(joined_test['Date'])

In [114]:
def get_elapsed(df, fld, pre):
    day1 = np.timedelta64(1, 'D')
    store = 0
    last_date = np.timedelta64()
    vals = []
    for s,v,d in zip(df['Store'].values, df[fld].values, df['Date'].values):
        if s != store: 
            store = s
            last_date = np.datetime64()
        if v: last_date = d
        vals.append(((d - last_date).astype('timedelta64[D]') / day1))
    df[pre+fld] = vals
    return df

In [112]:
joined.sort_values(['Store', 'Date'], ascending=[True, True], inplace=True)
get_elapsed(joined, 'SchoolHoliday', 'After')

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,...,Events,WindDirDegrees,StateName,CompetitionOpenSince,CompetitionDaysOpen,CompetitionMonthsOpen,Promo2Since,Promo2Days,Promo2Weeks,AfterSchoolHoliday
1016095,1,2,2013-01-01,0,0,0,0,True,True,2013,...,Rain,206,Hessen,2008-09-15,1569.0,24.0,1900-01-01,0.0,25.0,0.0
1014980,1,3,2013-01-02,5530,668,1,0,False,True,2013,...,NaN,200,Hessen,2008-09-15,1570.0,24.0,1900-01-01,0.0,25.0,0.0
1013865,1,4,2013-01-03,4327,578,1,0,False,True,2013,...,Rain,191,Hessen,2008-09-15,1571.0,24.0,1900-01-01,0.0,25.0,0.0
1012750,1,5,2013-01-04,4486,619,1,0,False,True,2013,...,Rain,210,Hessen,2008-09-15,1572.0,24.0,1900-01-01,0.0,25.0,0.0
1011635,1,6,2013-01-05,4997,635,1,0,False,True,2013,...,Rain,281,Hessen,2008-09-15,1573.0,24.0,1900-01-01,0.0,25.0,0.0
1010520,1,7,2013-01-06,0,0,0,0,False,True,2013,...,Rain,259,Hessen,2008-09-15,1574.0,24.0,1900-01-01,0.0,25.0,0.0
1009405,1,1,2013-01-07,7176,785,1,1,False,True,2013,...,Rain,235,Hessen,2008-09-15,1575.0,24.0,1900-01-01,0.0,25.0,0.0
1008290,1,2,2013-01-08,5580,654,1,1,False,True,2013,...,Rain,209,Hessen,2008-09-15,1576.0,24.0,1900-01-01,0.0,25.0,0.0
1007175,1,3,2013-01-09,5471,626,1,1,False,True,2013,...,Rain,207,Hessen,2008-09-15,1577.0,24.0,1900-01-01,0.0,25.0,0.0
1006060,1,4,2013-01-10,4892,615,1,1,False,True,2013,...,Rain,208,Hessen,2008-09-15,1578.0,24.0,1900-01-01,0.0,25.0,0.0
1004945,1,5,2013-01-11,4881,592,1,1,False,True,2013,...,Rain-Snow,47,Hessen,2008-09-15,1579.0,24.0,1900-01-01,0.0,25.0,0.0
1003830,1,6,2013-01-12,4952,646,1,0,False,False,2013,...,NaN,54,Hessen,2008-09-15,1580.0,24.0,1900-01-01,0.0,25.0,1.0
1002715,1,7,2013-01-13,0,0,0,0,False,False,2013,...,NaN,42,Hessen,2008-09-15,1581.0,24.0,1900-01-01,0.0,25.0,2.0
1001600,1,1,2013-01-14,4717,616,1,0,False,False,2013,...,Snow,340,Hessen,2008-09-15,1582.0,24.0,1900-01-01,0.0,25.0,3.0
1000485,1,2,2013-01-15,3900,512,1,0,False,False,2013,...,Snow,66,Hessen,2008-09-15,1583.0,24.0,1900-01-01,0.0,25.0,4.0
999370,1,3,2013-01-16,4008,530,1,0,False,False,2013,...,Snow,251,Hessen,2008-09-15,1584.0,24.0,1900-01-01,0.0,25.0,5.0
998255,1,4,2013-01-17,4044,503,1,0,False,False,2013,...,Snow,10,Hessen,2008-09-15,1585.0,24.0,1900-01-01,0.0,25.0,6.0
997140,1,5,2013-01-18,4127,568,1,0,False,False,2013,...,NaN,58,Hessen,2008-09-15,1586.0,24.0,1900-01-01,0.0,25.0,7.0
996025,1,6,2013-01-19,5182,688,1,0,False,False,2013,...,Snow,58,Hessen,2008-09-15,1587.0,24.0,1900-01-01,0.0,25.0,8.0
994910,1,7,2013-01-20,0,0,0,0,False,False,2013,...,Rain-Snow,42,Hessen,2008-09-15,1588.0,24.0,1900-01-01,0.0,25.0,9.0
993795,1,1,2013-01-21,5394,607,1,1,False,False,2013,...,Snow,68,Hessen,2008-09-15,1589.0,24.0,1900-01-01,0.0,25.0,10.0
992680,1,2,2013-01-22,5720,667,1,1,False,False,2013,...,Rain-Snow,37,Hessen,2008-09-15,1590.0,24.0,1900-01-01,0.0,25.0,11.0
991565,1,3,2013-01-23,5578,627,1,1,False,False,2013,...,Snow,49,Hessen,2008-09-15,1591.0,24.0,1900-01-01,0.0,25.0,12.0
990450,1,4,2013-01-24,5195,645,1,1,False,False,2013,...,Fog,31,Hessen,2008-09-15,1592.0,24.0,1900-01-01,0.0,25.0,13.0
989335,1,5,2013-01-25,5586,676,1,1,False,False,2013,...,Snow,50,Hessen,2008-09-15,1593.0,24.0,1900-01-01,0.0,25.0,14.0
988220,1,6,2013-01-26,5598,640,1,0,False,False,2013,...,Snow,155,Hessen,2008-09-15,1594.0,24.0,1900-01-01,0.0,25.0,15.0
987105,1,7,2013-01-27,0,0,0,0,False,False,2013,...,Rain-Snow,196,Hessen,2008-09-15,1595.0,24.0,1900-01-01,0.0,25.0,16.0
985990,1,1,2013-01-28,4055,549,1,0,False,False,2013,...,Rain,195,Hessen,2008-09-15,1596.0,24.0,1900-01-01,0.0,25.0,17.0
984875,1,2,2013-01-29,3725,522,1,0,False,False,2013,...,Rain,200,Hessen,2008-09-15,1597.0,24.0,1900-01-01,0.0,25.0,18.0
983760,1,3,2013-01-30,4601,560,1,0,False,False,2013,...,Rain,222,Hessen,2008-09-15,1598.0,24.0,1900-01-01,0.0,25.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33449,1115,4,2015-07-02,6858,452,1,1,False,False,2015,...,NaN,77,Hessen,1900-01-15,42171.0,24.0,2012-05-28,1130.0,25.0,83.0
32334,1115,5,2015-07-03,7412,478,1,1,False,False,2015,...,NaN,338,Hessen,1900-01-15,42172.0,24.0,2012-05-28,1131.0,25.0,84.0
31219,1115,6,2015-07-04,6543,466,1,0,False,False,2015,...,NaN,56,Hessen,1900-01-15,42173.0,24.0,2012-05-28,1132.0,25.0,85.0
30104,1115,7,2015-07-05,0,0,0,0,False,False,2015,...,Thunderstorm,195,Hessen,1900-01-15,42174.0,24.0,2012-05-28,1133.0,25.0,86.0
28989,1115,1,2015-07-06,6501,453,1,0,False,False,2015,...,NaN,269,Hessen,1900-01-15,42175.0,24.0,2012-05-28,1134.0,25.0,87.0
27874,1115,2,2015-07-07,5138,362,1,0,False,False,2015,...,Rain-Thunderstorm,81,Hessen,1900-01-15,42176.0,24.0,2012-05-28,1135.0,25.0,88.0
26759,1115,3,2015-07-08,5900,413,1,0,False,False,2015,...,Rain,243,Hessen,1900-01-15,42177.0,24.0,2012-05-28,1136.0,25.0,89.0
25644,1115,4,2015-07-09,5686,416,1,0,False,False,2015,...,Rain,279,Hessen,1900-01-15,42178.0,24.0,2012-05-28,1137.0,25.0,90.0
24529,1115,5,2015-07-10,5844,404,1,0,False,False,2015,...,NaN,136,Hessen,1900-01-15,42179.0,24.0,2012-05-28,1138.0,25.0,91.0
23414,1115,6,2015-07-11,7164,483,1,0,False,False,2015,...,NaN,16,Hessen,1900-01-15,42180.0,24.0,2012-05-28,1139.0,25.0,92.0
22299,1115,7,2015-07-12,0,0,0,0,False,False,2015,...,Rain,252,Hessen,1900-01-15,42181.0,24.0,2012-05-28,1140.0,25.0,93.0
21184,1115,1,2015-07-13,10598,641,1,1,False,False,2015,...,Rain,231,Hessen,1900-01-15,42182.0,24.0,2012-05-28,1141.0,25.0,94.0
20069,1115,2,2015-07-14,7562,488,1,1,False,False,2015,...,Rain,246,Hessen,1900-01-15,42183.0,24.0,2012-05-28,1142.0,25.0,95.0
18954,1115,3,2015-07-15,6039,450,1,1,False,False,2015,...,NaN,250,Hessen,1900-01-15,42184.0,24.0,2012-05-28,1143.0,25.0,96.0
17839,1115,4,2015-07-16,6590,455,1,1,False,False,2015,...,NaN,82,Hessen,1900-01-15,42185.0,24.0,2012-05-28,1144.0,25.0,97.0
16724,1115,5,2015-07-17,7874,519,1,1,False,False,2015,...,Rain,201,Hessen,1900-01-15,42186.0,24.0,2012-05-28,1145.0,25.0,98.0
15609,1115,6,2015-07-18,7264,504,1,0,False,False,2015,...,Rain-Thunderstorm,222,Hessen,1900-01-15,42187.0,24.0,2012-05-28,1146.0,25.0,99.0
14494,1115,7,2015-07-19,0,0,0,0,False,False,2015,...,Rain-Thunderstorm,270,Hessen,1900-01-15,42188.0,24.0,2012-05-28,1147.0,25.0,100.0
13379,1115,1,2015-07-20,6083,440,1,0,False,False,2015,...,Fog-Rain,208,Hessen,1900-01-15,42189.0,24.0,2012-05-28,1148.0,25.0,101.0
12264,1115,2,2015-07-21,5074,352,1,0,False,False,2015,...,NaN,224,Hessen,1900-01-15,42190.0,24.0,2012-05-28,1149.0,25.0,102.0
11149,1115,3,2015-07-22,5342,382,1,0,False,False,2015,...,NaN,331,Hessen,1900-01-15,42191.0,24.0,2012-05-28,1150.0,25.0,103.0
10034,1115,4,2015-07-23,6150,435,1,0,False,False,2015,...,NaN,312,Hessen,1900-01-15,42192.0,24.0,2012-05-28,1151.0,25.0,104.0
8919,1115,5,2015-07-24,5816,417,1,0,False,False,2015,...,Rain-Thunderstorm,36,Hessen,1900-01-15,42193.0,24.0,2012-05-28,1152.0,25.0,105.0
7804,1115,6,2015-07-25,6897,478,1,0,False,False,2015,...,Rain-Thunderstorm,224,Hessen,1900-01-15,42194.0,24.0,2012-05-28,1153.0,25.0,106.0
6689,1115,7,2015-07-26,0,0,0,0,False,False,2015,...,Rain,207,Hessen,1900-01-15,42195.0,24.0,2012-05-28,1154.0,25.0,107.0
5574,1115,1,2015-07-27,10712,608,1,1,False,True,2015,...,Rain,211,Hessen,1900-01-15,42196.0,24.0,2012-05-28,1155.0,25.0,0.0
4459,1115,2,2015-07-28,8093,500,1,1,False,True,2015,...,Rain,236,Hessen,1900-01-15,42197.0,24.0,2012-05-28,1156.0,25.0,0.0
3344,1115,3,2015-07-29,7661,473,1,1,False,True,2015,...,Rain,231,Hessen,1900-01-15,42198.0,24.0,2012-05-28,1157.0,25.0,0.0
2229,1115,4,2015-07-30,8405,502,1,1,False,True,2015,...,Rain,253,Hessen,1900-01-15,42199.0,24.0,2012-05-28,1158.0,25.0,0.0
1114,1115,5,2015-07-31,8680,538,1,1,False,True,2015,...,Fog,13,Hessen,1900-01-15,42200.0,24.0,2012-05-28,1159.0,25.0,0.0

We'll be applying this to a subset of columns:

Create a variable `columns` containing the strings: 
- Date
- Store
- Promo
- StateHoliday
- SchoolHoliday

These will be the fields on which we'll be computing elapsed days since/until.

In [115]:
columns = ['Date', 'Store', 'Promo', 'StateHoliday', 'SchoolHoliday']

Create one big dataframe with both the train and test sets called `df`.

In [129]:
df = pd.concat([joined[columns], joined_test[columns]], axis=0)

In [130]:
df.shape

(1058297, 5)

Sort by `Store` and `Date` ascending, and use `add_elapsed` to get the days since the last `SchoolHoliday` on each daya. Reorder by `Store` ascending and `Date` descending to get the days _until_ the next `SchoolHoliday`.

In [132]:
df.sort_values(['Store', 'Date'], inplace=True)
get_elapsed(df, 'SchoolHoliday', 'After')
df.sort_values(['Store', 'Date'], ascending=[True, False], inplace=True)
get_elapsed(df, 'SchoolHoliday', 'Before').head()

,Date,Store,Promo,StateHoliday,SchoolHoliday,AfterSchoolHoliday,BeforeSchoolHoliday
0,2015-09-17,1,1,False,False,13.0,NaN
856,2015-09-16,1,1,False,False,12.0,NaN
1712,2015-09-15,1,1,False,False,11.0,NaN
2568,2015-09-14,1,1,False,False,10.0,NaN
3424,2015-09-13,1,0,False,False,9.0,NaN

Do the same for `StateHoliday`.

In [133]:
df.sort_values(['Store', 'Date'], inplace=True)
get_elapsed(df, 'StateHoliday', 'After')
df.sort_values(['Store', 'Date'], ascending=[True, False], inplace=True)
get_elapsed(df, 'StateHoliday', 'Before').head()

,Date,Store,Promo,StateHoliday,SchoolHoliday,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday
0,2015-09-17,1,1,False,False,13.0,NaN,105.0,NaN
856,2015-09-16,1,1,False,False,12.0,NaN,104.0,NaN
1712,2015-09-15,1,1,False,False,11.0,NaN,103.0,NaN
2568,2015-09-14,1,1,False,False,10.0,NaN,102.0,NaN
3424,2015-09-13,1,0,False,False,9.0,NaN,101.0,NaN

Do the same for `Promo`.

In [134]:
df.sort_values(['Store', 'Date'], inplace=True)
get_elapsed(df, 'Promo', 'After')
df.sort_values(['Store', 'Date'], ascending=[True, False], inplace=True)
get_elapsed(df, 'Promo', 'Before').head()

,Date,Store,Promo,StateHoliday,SchoolHoliday,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo
0,2015-09-17,1,1,False,False,13.0,NaN,105.0,NaN,0.0,0.0
856,2015-09-16,1,1,False,False,12.0,NaN,104.0,NaN,0.0,0.0
1712,2015-09-15,1,1,False,False,11.0,NaN,103.0,NaN,0.0,0.0
2568,2015-09-14,1,1,False,False,10.0,NaN,102.0,NaN,0.0,0.0
3424,2015-09-13,1,0,False,False,9.0,NaN,101.0,NaN,9.0,-1.0

Set the index on `df` to `Date`.

In [136]:
df.set_index('Date', inplace=True)

Reassign `columns` to `['SchoolHoliday', 'StateHoliday', 'Promo']`.

In [137]:
columns = ['SchoolHoliday', 'StateHoliday', 'Promo']

For columns `Before/AfterSchoolHoliday`, `Before/AfterStateHoliday`, and `Before/AfterPromo`, fill null values with 0.

Create a dataframe `bwd` that gets 7-day backward-rolling sums of the columns in `columns`, grouped by `Store`.

Create a dataframe `fwd` that gets 7-day forward-rolling sums of the columns in `columns`, grouped by `Store`.

Show the head of `bwd`.

Show the head of `fwd`.

Drop the `Store` column from `fwd` and `bwd` inplace, and reset the index inplace on each.

Reset the index on `df`.

Merge `df` with `bwd` and `fwd`.

Drop `columns` from df inplace -- we don't need them anymore, since we've captured their information in columns with types more suitable for machine learning.

Print out the head of `df`.

Pickle `df` to `PATH/'df'`.

Cast the `Date` column to a datetime column.

Join `joined` with `df` on `['Store', 'Date']`.

This is not necessarily the best idea, but the authors removed all examples for which sales were equal to zero. If you're trying to stay true to what the authors did, do that now.

Reset the indices, and pickle train and test to `train_clean` and `test_clean`.